.root{
    .sidebar{
        padding: 3%;
        background-color: #6874E8;
        color: #efefef;
        height: 100vh;
        position: fixed;
    }
    .content{
        margin-left: 12%;
    }
}